In [7]:
x = [1, 4, 2, 43, 21, 43, 98, 81, 75]
total = 0
for item in x: 
  total = total + item
print (total)

368

In [11]:
for i in range (1,10):
    print (i)

1
2
3
4
5
6
7
8
9

In [12]:
exp = [2340, 2500, 2100, 3100, 2980]
len(exp)

5

In [13]:
exp[4]

2980

In [21]:
total = 0
for i in range(len(exp)):
    print('Month:', i, 'Expense:', exp[i])
    total = total + exp[i]
print(total)

Month: 0 Expense: 2340
Month: 1 Expense: 2500
Month: 2 Expense: 2100
Month: 3 Expense: 3100
Month: 4 Expense: 2980
13020

In [1]:
result = ["heads","tails","tails","heads","tails","heads","heads","tails","tails","tails"]

In [2]:
heads_num = 0
for item in result:
   if item == "heads":
     heads_num = heads_num + 1
print("total heads is", heads_num)

total heads is 4

In [3]:
for i in range(1,11):
    if i%2==0:
        continue
    print(i*i)

1
9
25
49
81

In [9]:
expense_list = [2340, 2500, 2100, 3100, 2980]

In [19]:
expense = 3100
for item in expense_list:
    if item == expense:
        break
    else: 
        print("expense not in list")

SyntaxError: invalid syntax (621048711.py, line 5)