In [17]:
import pandas
df = pandas.read_csv("E:\\Marketing, Advertising & Data Science\\Python & R projects\\r squared data.csv")

In [18]:
df.head()

       Y    X1    X2    X3
0  16.83  4.01  4.02  2.27
1  23.48  5.59  6.81  5.28
2  18.01  4.29  5.93  9.50
3  17.98  4.28  5.25  2.27
4   9.33  2.22  6.31  9.89

In [19]:
X = df[['X2', 'X3']]
y = df['Y'] 
X

     X2    X3
0  4.02  2.27
1  6.81  5.28
2  5.93  9.50
3  5.25  2.27
4  6.31  9.89
5  9.30  9.81
6  8.91  1.95
7  4.45  6.03
8  4.51  3.68
9  7.84  9.86

In [20]:
y

0    16.83
1    23.48
2    18.01
3    17.98
4     9.33
5    35.43
6    27.99
7    15.88
8     5.84
9    14.04
Name: Y, dtype: float64

In [26]:
from sklearn import linear_model
import matplotlib.pyplot as plt
regr = linear_model.LinearRegression()
regr.fit(X, y)
predicted = regr.predict([[4.02, 2.27]])

C:\Users\KISHOLOY\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [27]:
print(predicted)

[12.46854998]

In [28]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
reg_all = LinearRegression()
reg_all.fit(X_train, y_train)
y_pred = reg_all.predict(X_test)

In [29]:
reg_all.score(X_test, y_test)

0.02535486844553636