In [7]:
import advertools as adv

In [8]:
import pandas as pd
pd.options.display.max_columns = None
import plotly.express as px

In [59]:
sitemap = adv.sitemap_to_df('https://www.oxedent.com/robots.txt')
print(sitemap.shape)
sitemap.head()

2023-01-06 00:20:37,624 | INFO | sitemaps.py:536 | sitemap_to_df | Getting https://www.oxedent.com/page-sitemap.xml
2023-01-06 00:20:37,694 | INFO | sitemaps.py:536 | sitemap_to_df | Getting https://www.oxedent.com/post-sitemap.xml
2023-01-06 00:20:37,712 | INFO | sitemaps.py:536 | sitemap_to_df | Getting https://www.oxedent.com/team-sitemap.xml
2023-01-06 00:20:37,801 | INFO | sitemaps.py:536 | sitemap_to_df | Getting https://www.oxedent.com/portfolio-sitemap.xml
2023-01-06 00:20:38,364 | INFO | sitemaps.py:536 | sitemap_to_df | Getting https://www.oxedent.com/case-studies-sitemap.xml
2023-01-06 00:20:38,387 | INFO | sitemaps.py:536 | sitemap_to_df | Getting https://www.oxedent.com/category-sitemap.xml
2023-01-06 00:20:38,411 | INFO | sitemaps.py:536 | sitemap_to_df | Getting https://www.oxedent.com/web-story-sitemap.xml
2023-01-06 00:20:38,431 | INFO | sitemaps.py:536 | sitemap_to_df | Getting https://www.oxedent.com/testimonial-sitemap.xml
2023-01-06 00:20:44,626 | INFO | sitemaps.py:536 | sitemap_to_df | Getting https://www.oxedent.com/case-studies_tags-sitemap.xml
2023-01-06 00:20:44,763 | INFO | sitemaps.py:536 | sitemap_to_df | Getting https://www.oxedent.com/post_tag-sitemap.xml
2023-01-06 00:20:45,175 | INFO | sitemaps.py:536 | sitemap_to_df | Getting https://www.oxedent.com/case-studies_cat-sitemap.xml
2023-01-06 00:20:45,191 | INFO | sitemaps.py:536 | sitemap_to_df | Getting https://www.oxedent.com/portfolio_cat-sitemap.xml
2023-01-06 00:20:45,434 | INFO | sitemaps.py:536 | sitemap_to_df | Getting https://www.oxedent.com/local-sitemap.xml

(777, 7)

,loc,lastmod,image,image_loc,sitemap,sitemap_size_mb,download_date
0,https://www.oxedent.com/,2022-12-12 11:34:40+00:00,\n\t\t\t,https://www.oxedent.com/wp-content/uploads/202...,https://www.oxedent.com/page-sitemap.xml,0.011489,2023-01-05 18:50:37.647668+00:00
1,https://www.oxedent.com/about-us/,2023-01-02 08:51:47+00:00,NaN,NaN,https://www.oxedent.com/page-sitemap.xml,0.011489,2023-01-05 18:50:37.647668+00:00
2,https://www.oxedent.com/career/,2022-12-26 06:13:38+00:00,NaN,NaN,https://www.oxedent.com/page-sitemap.xml,0.011489,2023-01-05 18:50:37.647668+00:00
3,https://www.oxedent.com/15851-2/,2022-12-21 06:02:35+00:00,NaN,NaN,https://www.oxedent.com/page-sitemap.xml,0.011489,2023-01-05 18:50:37.647668+00:00
4,https://www.oxedent.com/contact-us/,2022-11-16 09:05:51+00:00,NaN,NaN,https://www.oxedent.com/page-sitemap.xml,0.011489,2023-01-05 18:50:37.647668+00:00

In [60]:
'errors' in sitemap

False

In [63]:
urldf = adv.url_to_df(sitemap['loc'].dropna())
urldf.head()

,url,scheme,netloc,path,query,fragment,dir_1,dir_2,dir_3,last_dir
0,https://www.oxedent.com/,https,www.oxedent.com,/,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.oxedent.com/about-us/,https,www.oxedent.com,/about-us/,NaN,NaN,about-us,NaN,NaN,about-us
2,https://www.oxedent.com/career/,https,www.oxedent.com,/career/,NaN,NaN,career,NaN,NaN,career
3,https://www.oxedent.com/15851-2/,https,www.oxedent.com,/15851-2/,NaN,NaN,15851-2,NaN,NaN,15851-2
4,https://www.oxedent.com/contact-us/,https,www.oxedent.com,/contact-us/,NaN,NaN,contact-us,NaN,NaN,contact-us

In [64]:
urldf.columns

Index(['url', 'scheme', 'netloc', 'path', 'query', 'fragment', 'dir_1',
       'dir_2', 'dir_3', 'last_dir'],
      dtype='object')

In [65]:
urldf['scheme'].value_counts()

https    777
Name: scheme, dtype: int64

In [66]:
urldf['netloc'].value_counts().head(20)

www.oxedent.com    777
Name: netloc, dtype: int64

In [67]:
urldf.notna().mean().to_frame().rename(columns={0: 'URL element used %'}).style.format('{:.1%}')

In [68]:
urldf['dir_1'].value_counts().head(20)

tag                                                         496
case-study                                                   87
case-studies                                                 20
testimonials                                                 18
team                                                         17
projects                                                     16
category                                                     14
web-stories                                                  11
setting-up-facebook-sales-channel-for-your-shopify-store      1
remove-powered-by-shopify-on-shopify                          1
google-adwords-for-e-commerce-websites                        1
white-label-ppc-agencies                                      1
shopify-all-details-you-should-know                           1
about-us                                                      1
ai-writing-generator-ai-text-generator                        1
setting-up-google-sales-channel-for-your-shopify-store        1
set-up-google-analytics-4-ga4-on-shopify                      1
ppc-management-pricing                                        1
pay-per-click-companies                                       1
google-ad-tools-ppc-tools                                     1
Name: dir_1, dtype: int64

In [70]:
urldf['dir_1'].value_counts()['case-study']

87

In [71]:
urldf.notna().mean().to_frame().rename(columns={0: 'URL element used %'}).style.format('{:.2%}')

In [72]:
urldf['dir_2'].value_counts().head(20)

cat                                    26
training                                2
tags                                    2
oxedent                                 2
google-ads                              2
ppc                                     2
google-shopping                         2
cro                                     2
shopify                                 2
ai-writing-prompt-generator             1
free-ai-writing-generator               1
ai-generator-writing                    1
ai-writing-generator-tools              1
ai-writing-generator-free-online        1
writing-generator-ai                    1
creative-writing-story-generator-ai     1
ai-fiction-writing-generator            1
best-ai-writing-generator               1
creative-writing-ai-generator           1
ai-creative-writing-generator           1
Name: dir_2, dtype: int64

In [73]:
(adv.word_frequency(
    urldf['dir_1']
    .dropna()
    .str.replace('-', ' '),
    rm_words=['to', 'for', 'the', 'and', 'in', 'of', 'a', 'with', 'is'])
 .head(15)
 .style.format({'abs_freq': '{:,}'}))

In [74]:
#Bigrams
(adv.word_frequency(
    urldf['dir_1']
    .dropna()
    .str.replace('-', ' '),
    phrase_len=2)
 .head(15))

                     word  abs_freq
0              case study        87
1            case studies        20
2             web stories        11
3              google ads        10
4               thank you         6
5          google adwords         5
6                for 2022         3
7            landing page         3
8       digital marketing         3
9            oxedent wins         3
10       marketing agency         3
11               wins the         3
12            the mandate         3
13            mandate for         3
14  performance marketing         3

In [76]:
(sitemap
 ['lastmod']
 .dropna()
 .dt.year
 .value_counts()
 .to_frame()
 .style
 .bar(color='steelblue')
 .set_caption(f'<h4>Articles per year <br><br><b>{website}</b></h4>')
 .format('{:,}'))